@import "tailwindcss";
@import "@nuxt/ui";
@plugin 'tailwind-scrollbar';

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --bg-default: white;
  --ui-bg: blue;
  /* Principais */
  --color-blue-50: #EFF6FF;
  --color-blue-100: #DBEAFE;
  --color-blue-200: #BFDBFE;
  --color-blue-300: #93C5FD;
  --color-blue-400: #1E3A8A;
  --color-blue-500: #0B2258;
  --color-blue-600: #0F1724;
  --color-blue-700: #0A1420;
  --color-blue-800: #070F18;
  --color-blue-900: #050A12;
  --color-blue-950: #020508;

  --color-orange-50: #FFF7ED;
  --color-orange-100: #FFEDD5;
  --color-orange-200: #FED7AA;
  --color-orange-300: #FDBA74;
  --color-orange-400: #FEA533;
  --color-orange-500: #FD8D03;
  --color-orange-600: #E67F03;
  --color-orange-700: #CC7103;
  --color-orange-800: #A85B02;
  --color-orange-900: #7A4202;
  --color-orange-950: #4D2901;


  --color-section-bg-1: #F8FAFC;
  --color-section-bg-2: #FFFFFF;

  --color-section-subtitle: #4B5563;  
}
@layer components {


  .title-section {
    @apply text-4xl md:text-4xl lg:text-[44px] font-bold text-blue-500 mb-4 tracking-tight;
  }

  .subtitle-section {
    @apply text-lg text-[var(--color-section-subtitle)];
  }

}